.container{
    width: auto;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
    .back-button{
        width: auto;
        height: auto;
        border-radius: 15px 15px 15px 15px;
        background-color: white;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
        padding: 5px 15px 5px 15px;
    }
        .back-button a {
            text-decoration: none;
            color: #0f1b38;
        }

        .back-button:hover{
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
        }

.body{
    background-color: grey;
    border: solid yellow 1.5px;
    border-radius: 10px 10px 10px 10px;
    width: fit-content;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .row1{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
        .row1 .form{
            background-color: white;
            padding: 10px;
            border-radius: 10px 10px 10px 10px;
            display: flex;
            flex-direction: row;
            gap: 15px;
        }
            .row1 .r{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
    
    .row2 .form{
        background-color: white;
        padding: 10px;
        border-radius: 10px 10px 10px 10px;  
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: space-between;     
    }

    .row3 .form{
        background-color: white;
        padding: 10px;
        border-radius: 10px 10px 10px 10px;  
    }
        .row3 .r{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
            .row3 .quest{
                display: flex;
                flex-direction: column;
            }
    
    .row4{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
        .simpan-sementara{
            width: auto;
            height: auto;
            border: solid yellow 1.5px;
            border-radius: 15px 15px 15px 15px;
            background-color: grey;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
            padding: 5px 15px 5px 15px;
        }
            .simpan-sementara:hover{
                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
                cursor: pointer;
            }
        .pasarkan{
            width: auto;
            height: auto;
            border: solid yellow 1.5px;
            border-radius: 15px 15px 15px 15px;
            background-color: rgb(62, 174, 62);
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
            padding: 5px 15px 5px 15px;
        }
        .pasarkan:hover{
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }





