body {
  font-family: sans-serif;
  background-color: #0f1b38;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

.register {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
}

.register div {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.register input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-left: 10px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.register input::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.form button {
  margin-top: 25px;
  margin-bottom: 10px;
  width: 100px;
  padding: 8px 15px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
  color: #0f1b38;
}

.form button:hover {
  background-color: #0f1b38;
  color: #ffffff;
  padding: 8px 15px;
  cursor: pointer;
}

.form button:active {
  background-color: #ffffff;
  color: #0f1b38;
}

.logo-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
 background-color: #ffffff;
 padding: 200px;
 border-radius: 500px;
}

.logo img {
  width: 500px;
}

#login-link {
  color: #ffa500;
  text-decoration: underline;
  cursor: pointer;
}

#login-link:hover {
  color: #ff7f00;
  cursor: pointer;
}
